*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #313131;
}

.telegram {
    max-width: 595px;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    height: 100%;
	box-shadow: 0 0 5px black;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 20px;
	background: #202e3b;
	position: fixed;
	top: 0;
	max-width: 595px;
	width: 100%;
	box-shadow: 0 0 4px #000;
	z-index: 10;
}

nav h1{
	color: white;
	margin-left: 30px;
	font-weight: 500;
}

button i{
	font-size: 30px;
	color: white;
}

button{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

nav div{
	display: flex;
	align-items: center;
}

main{
	padding-top: 66px;
	height: 100vh;
	background: #1b2831;
	position: relative;
	overflow-y: scroll;
	scrollbar-face-color: #33b5e5;
	scrollbar-base-color: #ffa12d;
}

main a{
	display: flex;
	align-items: center;
	padding: 0 10px;
	cursor: pointer;
	width: 100%;
}

main a:hover{
	background: #3e505c96;
}

main a ul{
	color: white;
	list-style: none;
	font-size: 1.2rem;
}

main a ul li:first-child{
	font-weight: 500;
}

main a ul li:last-child{
	margin-top: 8px;
	color: rgba(255, 255, 255, 0.404);
	font-weight: 400;
	font-size: 17px;
}

main a img{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-right: 10px;
}

main a div{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

main a i{
	margin-left: 8px;
	color: deepskyblue;
}

.text_rigth{
	flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.text_rigth li:first-child{
	color: rgba(255, 255, 255, 0.404);
	font-weight: 400;
	font-size: 17px;
}

.text_rigth li:last-child{
	border-radius: 100%;
	padding-top: 2px;
	width: 25px;
	height: 25px;
	background: deepskyblue;
	color: white;
	text-align: center;
}

.text_rigth_l{
	flex-direction: column;
    display: flex;
    align-items: flex-end;
}

.text_rigth_l li:first-child{
	color: rgba(255, 255, 255, 0.404);
	font-weight: 400;
	font-size: 17px;
}

.text_rigth_l li:last-child{
	color: white;
}

.span{
	color: white;
}

.left__menu{
	width: 80%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #1d2733;
	transform: translateX(-101%);
	transition: .5s;
	z-index: 11;
}

.left__menu ul{
	list-style: none;
}

.left__menu_top{
	/* display: flex;
	justify-content: space-between; */
	background: #222d3b;
	padding: 15px 15px;

}

.left__menu_top a{
	border-radius: 50%;
	padding: 0;
	margin: 0;
}

.left__menu_top a img{
	margin: 0;
	width: 80px;
	height: 80px;
}

.left__menu_top ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.left__menu_top ul:first-child{
	align-items: start;
}

.left__menu_top .fas{
	color: white;
	font-size: 32px;
}

.left__menu_top .far{
	color: white;
	font-size: 20px;
}

.left__menu_title{
	align-items: center;
	margin-top: 20px;
}

.left__menu_title li:first-child{
	color: white;
	font-size: 1.2rem;
}

.left__menu_link ul:first-child{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.left__menu_link li{
	display: flex;
}

.icon{
	width: 40px;
	margin-right: 35px;
	text-align: center;
}

.dark_icon{
	cursor: pointer;
}

.left__menu_link li a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	margin-bottom: 25px;
	width: max-content;
}

.left__menu_link li a:hover{
	background: none;
}

.left__menu_link li i{
	color: rgba(255, 255, 255, 0.534);
	font-size: 1.5rem;

}

.left__menu_link li:first-child i{

	font-size: 1.5rem;
	margin-right: 25px;
}

.left__menu_link{
	margin: 25px 20px;
}

.left__menu ul:last-child {
    margin-top: 25px;
}

.left__back{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
}

.left__menu_top .light__icon{
	display: none;
}

.left__menu_title span{
	color: rgba(255, 255, 255, 0.404);
	font-size: 14px;
}

.contacti{
	margin: 0 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.37);
	display: none;
}

.contacti ul{
	list-style: none;
}

.contacti a:hover{
	background: none;
}

.left__btn_down{
	transition: .5s;
	cursor: pointer;
}

.left__btn_down.active{
	transform: rotate(180deg);
}

.contacti.active{
	display: block;
}

.contacti a{
	text-decoration: none;
	font-size: 18px;
	color: white;
	padding: 0 10px;
	width: max-content;
	margin-bottom: 12px;
	height: max-content;
	
}

.ins{
	color: rgba(216, 61, 61, 0.822);
}

.fb{
	color: rgb(0, 102, 255);
}

.gh{
	color: rgba(0, 0, 0, 0.753);
}

.contacti span{
	font-size: 35px;

}

.search__menu{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 11;
	display: none;
}

.search__menu div{
	display: flex;
	align-items: center;
	background: #202e3b;
	flex-direction: column;
	border-bottom: 1px solid rgba(0, 0, 0, 0.37);
	height: 100vh;

}

.search{
	display: flex;
	align-items: center;
	width: 100%;
}

.search input{
	width: 100%;
	height: 60px;
	background: rgba(169, 169, 169, 0);
	border: none;
	outline: none;
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0 5px;
}

.search input::placeholder{
	color: rgba(255, 255, 255, 0.404);
}

.search button{
	outline: none;
	border: none;
}

.search i{
	color: rgba(255, 255, 255, 0.404);
	font-size: 25px;
	margin: 0 30px;

}

.search__link{
	display: flex;
	justify-content: center;
	list-style: none;
	padding-top: 15px;
	width: 100%;
	border-bottom: 1px solid #000;
}

.search__link a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.404);
	font-size: 18px;
	padding: 10px 15px;
}

.search__contact{
	display: flex;
	overflow-x: scroll;
	width: 100%;
	height: max-content;
	background: #202e3b;
	list-style: none;
	margin-top: 8px;
}

.search__contact p{
	color: white;
	font-size: 14px;
	margin-top: 5px;
}

.search__contact li{
	text-align: center;
	margin: 5px 23px;
}

.search__contact img{
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.link__border.active{
	color: deepskyblue;
	border-bottom: 3px solid deepskyblue;
	font-weight: 500;
}